*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.form{
    display: flex;
    min-height: 250px;
    gap: 0px 10px;
    padding: 20px;
    background-color: rgba(97, 97, 221, 0.548);
    border-radius: 10px;
}
.money{
    width: 100px;
    height: 50px;
    font-size: 20px;
    padding-left:10px;
    border-radius: 5px;
     display: inline-block;

}

.result{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    min-width: 100px;
    height: 50px;
    cursor: pointer;
    background-color:white;
    border-radius: 5px;
}

.working{
    width: 100px;  
    height: 50px;
    cursor: pointer;
    align-self: flex-end;
    border-radius: 10px;
    background-color: rgba(145, 244, 47, 0.648);
}
.working:hover{
    background-color: rgb(94, 183, 6);
}
.box{
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
}
.amount-money{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  max-width: 100px;
  height: 50px;
  cursor: pointer;
  background-color: white;
  display: inline;
}
.amount-money:hover{
  background-color: rgb(193, 193, 193);
}

.money-list{
    display: none;
}
.money-types_money1{
    border: 1px solid black;
    cursor: pointer;
}
.money-types_money1:hover{
  background-color: rgb(193, 193, 193);
}
.money-types_money2{
    border: 1px solid black;
    cursor: pointer;
}
.money-types_money2:hover{
    background-color: rgb(193, 193, 193);
  }
.money-types_money3{
    border: 1px solid black;
    cursor: pointer;
}
.money-types_money3:hover{
    background-color: rgb(193, 193, 193);
  }


